@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre {
	overflow: auto;
	overflow-y: hidden;
	font-size: 12px;
	line-height: 20px;
  font-weight: 500;
}

/* .quill > .ql-toolbar:first-child {
  display: none !important;
} */

#ql-editor h3:after {
  border-bottom: 1px solid #d9dce1;
  content: ' ';
  display: block;
  height: 8px;
  margin-bottom: 6px;
}

#quill-editor h3:after {
  border-bottom: 1px solid #d9dce1;
  content: ' ';
  display: block;
  height: 8px;
  margin-bottom: 6px;
}